.text-right{text-align:right}.iranpay-refund-page .sw-field{margin-bottom:0}.refund-card .sw-order-user-card__summary-vertical dt:first-child{padding:4px}.refund-card .refund-button-block{text-align:right}
